<h1>投稿一覧</h1>
    <div class='col-md-3'>
      <!--バリデーションで発生したエラーを確認し、発生しているかどうか判定-->
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <ul>
            <li><%= @post.errors.count %>件のエラーが発生しました</li>
            <% @post.errors.full_messages.each do |message| %>
              <!--一つずつエラーを出す-->
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>



    <%= render 'post', post: @post %><br/>
    <%= render 'rank' %>
    </div>

    <%= render 'index', posts: @posts %>
  </div>
</div>
<%= paginate @posts %>
<!--ページング機能-->