<h1>投稿詳細</h1>
<div class="post-body">
  <%= attachment_image_tag @post, :image, :fill, 150,150 %>
  <p>投稿タイトル: <%= @post.title%></p>
  <!--変数内のtitleを表示-->
  <p>コメント: <%= @post.body %></p>
  <!--変数内のbodyを表示-->
  <p>ユーザ名: <%= @post.user.name %></p>
  <!--変数内のuser_idに関連付けられているuserモデルのnameカラムを表示-->
  <p>投稿日時:<%= @post.created_at.strftime('%Y/%m/%d')%></p>
  <!--投稿日時を表示-->
  <% if @post.user == current_user %>
    <!--投稿してる人とユーザーが同一人物なら削除可能-->
    <%= link_to "削除", post_path(@post), method: :delete, class:"btn btn-danger btn-lg" %>
  <% end %>
  <div id="favorite-btn_<%= @post.id %>">
    <%= render 'favorites/favorite', locals: { post: @post} %>
  </div>


  <div id="comments-btn_<%= @post.id %>">
  <!--今までのコメント-->
    <p>コメント件数:<%= @post.post_comments.count %></p>
    <%= render 'post_comments/post_comment', locals: { post: @post} %>
  </div>


  <div class="new-comment">
  <!--新しいコメント-->
  <%= form_with(model:[@post,@post_comment]) do |f|%>
    <%= f.text_area :comment, rows:'8',placeholder: "誹謗中傷を避けたコメントを書いてください" %>
    <br/>
    <%= f.submit "送信する" %>
  <% end %>
  </div>

  <%= link_to "編集", edit_post_path(@post), class:"btn btn-success btn-lg" %>
  <%= link_to '戻る', :back,class:"btn btn-secondary btn-lg" %>

</div>