<div class="post-body">
  <%= attachment_image_tag @post, :image %>
  <p>投稿タイトル: <%= @post.title%></p>
  <!--変数内のtitleを表示-->
  <p>コメント: <%= @post.body %></p>
  <!--変数内のbodyを表示-->
  <p>ユーザ名: <%= @post.user.name %></p>
  <!--変数内のuser_idに関連付けられているuserモデルのnameカラムを表示-->
  <p>投稿日時:<%= @post.created_at.strftime('%Y/%m/%d')%></p>
  <!--投稿日時を表示-->
  <% if @post.user == current_user %>
    <!--投稿してる人とユーザーが同一人物なら削除可能-->
    <%= link_to "削除", post_path(@post), method: :delete %>
  <% end %>
  <% if @post.favorited_by?(current_user) %>
    <p>
      <%= link_to post_favorites_path(@post), method: :delete do %>
       ❤<%= @post.favorites.count %>いいね
       <!--上記を押したらいいねが外れる-->
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to post_favorites_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %>いいね
        <!--上記を押したらいいねが付く-->
      <% end %>
    </p>
  <% end %>
</div>


<div class="comments">
<!--今までのコメント-->
<p>コメント件数:<%= @post.post_comments.count %></p>
<% @post.post_comments.each do |post_comment| %>
  <%= post_comment.user.name %>
  <!--コメントを書いたユーザの名前-->
  <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment%>
  <!--コメントを書いた日時-->
  <% if post_comment.user == current_user %>
  <div class="comment-delete">
    <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>


<div class="new-comment">
<!--新しいコメント-->
<%= form_with(model:[@post,@post_comment],local: true) do |f|%>
  <%= f.text_area :comment, rows:'8',placeholder: "誹謗中傷を避けたコメントを書いてください" %>
  <%= f.submit "送信する" %>
<% end %>
</div>