<div class="header">
    <div class="container">
      <div class="row">
      <li class="title", style="large">
        <%= link_to "Parenting", root_path %>
      </li>
      <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--<span class="navbar-toggler-icon"></span>-->
      <!--</button>-->

      <nav class="box float-right mt-5 mb-4">
        <ul>
        <% if user_signed_in? %><!--ログイン済みならばif以下が、ログインしていなければelse以下が表示される-->
          <li class="wrap">
            <!--<a href="#" class="fancy-button bg-gradient1"><span><i class="fa fa-wheelchair-alt"></i>Follow Me</span></a>-->
            <%= link_to "マイページ", user_path(current_user), class:"button" %>
          </li>
          <li>
            <%= link_to "子育て世代一覧", users_path, class:"button" %>
          </li>
          <li>
            <%= link_to "子育て情報", posts_path, class:"button" %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, class:"button", method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "ホーム", root_path, class:"button" %>
          </li>
          <li>
            <%= link_to "概要", homes_about_path, class:"button" %>
          </li>
          <li>
            <%= link_to "新規登録", new_user_registration_path, class:"button" %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path, class:"button" %>
          </li>
        <% end %>
        </ul>
      </nav>
      </div>
      <div class="row float-right mb-3">
        <%= render 'searchs/form' %>
      </div>
    </div>
  </div>